@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;500;600;700;800&display=swap');


/*ESTILOS DE LA PÁGINA LOGIN*/


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fira Sans', sans-serif;
}

.contenedor{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("../img/Fondo-Pagina.jpeg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.contenedor .avatar{
    width: 400px;
    height: 120px;
    margin-left: 30px;
    background-size: cover;
    position: absolute;
    left: 0;
    top: 0;
}

.wrapper{
    position: relative;
    width: 400px;
    height: 440px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.wrapper .form-box{
    width: 100%;
    padding: 40px;
    margin-top: 100px;
}

.wrapper .icon-close{
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    background: #410b99;
    font-size: 2em;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 20px;
    cursor: pointer;
    z-index: 1;
}

.form-box .avatar{
    width: 300px;
    height: 100px;
    border-radius: 30%;
}

.form-box .logo-user{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*.form-box h2{
    font-size: 3em;
    color: #410b99;
    text-align: center;
}*/


.input-box{
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #162938;
    margin: 30px 0;
}

.input-box label{
    position: absolute;
    top: 50%;
    left: 0px;
    font-size: 1em;
    color: #162938;
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
}

.input-box input:focus~label,
.input-box input:valid~label{
    top: -5px;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #162938;
    font-weight: 600;
    padding: 0 35px 0 10px;
}

.input-box .icon{
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color: #162938;
    line-height: 57px;
}

.remember-forgot{
    font-size: .9em;
    color: #162938;
    font-weight: 500;
    margin: 30px 0 30px;
    display: flex;
    justify-content: space-between;
}

.remember-forgot label input{
    accent-color: #162938;
    margin-right: 3px;
}

.remember-forgot a{
    color: #0d7e6f;
    text-decoration: none;
}

.remember-forgot a:hover{
    text-decoration: underline;
}

.btn{
    width: 100%;
    height: 45px;
    background: #410b99;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: #fff;
    font-weight: 500;
}

.warnings{
    width: 200px;
    text-align: center;
    margin: auto;
    color: #410b99;
    padding-top: 10px;
}







/*ESTILOS DE LA PÁGINA OPCIONES*/




*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fira Sans', sans-serif;
}

.contenedor-opciones{
    background-image: url("../img/Fondo-Pagina.jpeg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.header-opciones {
    padding: 10px;
    display: flex;
    align-items: center;
}
  
.main-opciones {
    width: 60%;
    height: 83vh;
    display: column;
    text-align: center;
    padding: 50px;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.main-opciones h2{
    margin-top: -20px;
    font-size: 30px;
}

.botones-opciones{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.boton-opcion {
    width: 40%;
    display: inline-block;
    margin: 10px;
    padding: 15px 20px;
    /*background-color: #410b99;*/
    border: 2px solid black;
    /*color: #fff;*/
    color: black;
    font-weight: 600;
    border-radius: 13px;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(101, 97, 97, 0.5);
    transition-duration: 0.4s;
}

.boton-opcion:hover {
    background-color: #410b99;
    color: white;
}

#nextButton {
    font-size: 16px;
    border-radius: 13px;
    border: 1px solid #000;
    display: inline-block;
    position: fixed;
    font-weight: 600;
    bottom: 20px;
    left: 20px;
    text-decoration: none;
    padding: 7px 15px;
    text-align: center;
    cursor: pointer;
    transition-duration: 0.4s;
}

button#nextButton:hover {
    background-color: #4CAF50; /* Green */
    color: white;
  }






/*ESTILOS SOBRE LOS FORMULARIOS DE LOS REQUERIMIENTOS*/



.hidden{
    display: none;
}
  
.contenedor-formulario{
    background-image: url("../img/Fondo-Formulario.jpeg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -27%);
    margin: auto;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
    z-index: 9999;
    padding: 0px;
    color: #fff;
}
  
.form-formulario{
    width: 800px;
    margin: 0 auto;
}
  
.form-row{
    display: flex;
    justify-content: space-between;
    margin: 15px;
}
  
.form-colum{
    width: 48%;
}
  
.form-colum label{
    display: block;
    margin-bottom: 10px;
    text-align: start;
    font-weight: 500;
}
  
.form-colum input,
.form-colum input[type="text"],
.form-colum input[type="email"],
.form-colum textarea{
    width: 70%;
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid black;
    border-radius: 4px;
}

.form-colum textarea{
    height: 80px;
}

.form-colum select,
.form-colum [type="date"]{
    width: 50%;
}

.button-row{
    display: flex;
    justify-content: center;
    margin-top: -20px;
}
  
.form-formulario button{
    display: block;
    margin: 20px auto;
    background-color: #410b99;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}


/*CLASES PARA ESTILOS EN LOS DIFERENTES ESTADOS DEL DRAG AND DROP*/


/*.ticket-card.selection{
    transform: scale(1.02) rotate(-1deg);
    box-shadow: 0px 0px 20px rgba(149, 153, 159, .16);
}

.ticket-card.drag{
    background: black;
}*/





/*ESTILOS SOBRE LAS TABLAS DE LOS TICKETS GENERADOS*/


.contenedor-dashboard{
    margin: 0 auto;
    width: 100%;
    height: 100vh;
    background-image: url("../img/Fondo-Pagina.jpeg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.header-dashboard{
    padding: 20px;
    background: #410b99;
    opacity: 0.7;
}

.title-dashboard{
    margin: 0;
    color: #ccc;
}

.dashboard{
    margin: 50px;
    display: flex;
    justify-content: space-between;
    height: auto;
    opacity: 0.9;
}
  
.list-ticket{
    height: 80vh;
    overflow-y: auto;
    flex-basis: calc(33.33% - 20px);
    background-color: #444654;
    padding: 20px;
    border-radius: 20px;
    margin: auto 20px;
}
  
.list-title{
    margin-top: 0;
    margin-bottom: 10px;
    color:#ccc;
}
  
.ticket-card{
    background-color: #444654;
}
  
.ticket-content{
    font-weight: bold;
}

.ticket{
    margin-bottom: 10px;
    background-color: #fff;
    font-size: bold;
    font-weight: 400;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: start;
    display: flex;
    flex-direction: column;
}

.ticket label[for="clienteLabel"],
.ticket label[for="proyectoLabel"],
.ticket label[for="prioridadLabel"],
.ticket label[for="prioridadLabel"]{
    margin-bottom: 10px;
    border-bottom: 2px solid #94baec;
}

.droppable{
    border: 2px dashed gray;
}
  
  
  